{include file="../template/admin/base/header.html"}
<!-- 内容区 -->
<div class="container-fluid admin-box">
	{include file="../template/admin/base/sidebar.html"}
	<div class="col-md-10">
		<div class="admin-box-title">
			{if $status eq ''}
				全部商品
			{elseif $status eq 0}
				仓库中的商品
			{else /}
				出售中的商品
			{/if}
			<!-- 商品搜索 -->
			<div class="box-title-search">
				<div class="form-inline">
					<input type="hidden" name="search_status" value="{$status}">
					<input type="text" name="search_title" class="form-control" placeholder="标题">
					<input type="submit" class="btn btn-warning" value="搜索" id="shop-search" src="{:url('admin/commodity/search_commodity',['status'=>$status])}">
				</div>
			</div>
		</div>
		<div class="alert alert-warning tip-alert"></div>
		<table class="table table-bordered shop-administer" style="text-align: center;">
			<tr>
				<th>商品编号</th>
				<th>标题</th>
				<th>主图</th>
				<th>售价</th>
				<th>库存</th>
				<th>销售量</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
			{volist name="allGoods" id="allGoods"}
			<tr>
				<td>{$allGoods.numbering}</td>
				<td>{$allGoods.title}</td>
				<td><img src="{$allGoods.main_img}"></td>
				<td>{$allGoods.pricing}</td>
				<td>{$allGoods.price}</td>
				<td>{$allGoods.scale}</td>
				<td>
					{if $allGoods.status eq 1}
						<img src="http://{$_SERVER['HTTP_HOST']}/static/img/admin-shop-status-1.png" width="20" height="20">
					{else /}
						<img src="http://{$_SERVER['HTTP_HOST']}/static/img/admin-shop-status-0.png" width="20" height="20">
					{/if}
				</td>
				<td>
					<button class="btn btn-sm btn-success">
						<a href="{:url('admin/commodity/edit_commodity',['id'=>$allGoods.good_id])}">
							编辑
						</a>
					</button>
					{if $allGoods.status eq 1}
					<button class="btn btn-sm btn-warning" href="{:url('admin/commodity/status',['id'=>$allGoods.good_id])}" onclick="return buttonHref($(this))">下架</button>
					{else /}
					<button class="btn btn-sm btn-warning" href="{:url('admin/commodity/status',['id'=>$allGoods.good_id])}" onclick="return buttonHref($(this))">上架</button>
					{/if}
					<button class="btn btn-sm btn-success" href="{:url('admin/commodity/del',['id'=>$allGoods.good_id])}" onclick="return buttonHref($(this))">删除</button>
					<button class="btn btn-sm btn-default">查看</button>
				</td>
			</tr>
			{/volist}
		</table>
		{$pageination->render()}
	</div>
</div>
</body>
</html>