{include file="../template/admin/base/header.html"}
<!-- 内容区 -->
<div class="container-fluid admin-box">
	{include file="../template/admin/base/sidebar.html"}
	<div class="col-md-10">
		<div class="admin-box-title">发布商品</div>
		<div class="admin-box-create-commodity">
			<form action="{:url('admin/commodity/new_shop')}" method="post" onsubmit="return AddShopForm($(this))">
				<!-- 主图 -->
				<div class="form-group">
					<label>主图</label><br>
					<div class="create-commodity-pic">
						<input type="file" name="pic-1" onchange="createPic(this)" class="create-upload-pic-box" accept="image/gif, image/jpeg, image/png, image/jpg">
					</div>
					<div class="create-commodity-pic">
						<input type="file" name="pic-2" onchange="createPic(this)" class="create-upload-pic-box" accept="image/gif, image/jpeg, image/png, image/jpg">
					</div>
					<div class="create-commodity-pic">
						<input type="file" name="pic-3" onchange="createPic(this)" class="create-upload-pic-box" accept="image/gif, image/jpeg, image/png, image/jpg">
					</div>
					<div class="create-commodity-pic">
						<input type="file" name="pic-4" onchange="createPic(this)" class="create-upload-pic-box" accept="image/gif, image/jpeg, image/png, image/jpg">
					</div>
					<div class="create-commodity-pic">
						<input type="file" name="pic-5" onchange="createPic(this)" class="create-upload-pic-box" accept="image/gif, image/jpeg, image/png, image/jpg">
					</div>
				</div>
				<!-- 商品分类 -->
				<div class="form-group">
					<label>商品分类：</label>
					<select name="shop-cate" class="form-control">
						<option value="0">顶级分类</option>
						{$allCate}
					</select>
				</div>
				<!-- 商品标题 -->
				<div class="form-group">
					<label>商品标题：</label>
					<input type="text" name="shop-title" class="form-control">
				</div>
				<div class="form-inline">
					<label>定价：</label>
					<input type="text" name="shop-pricing" class="form-control" placeholder="人民币">
					<label>售价：</label>
					<input type="text" name="shop-price" class="form-control" placeholder="人民币">
				</div><br>
				<div class="form-inline">
					<label>ISBN:</label>
					<input type="text" name="shop-isbn" class="form-control">
					<label>语种：</label>
					<select name="shop-language" class="form-control">
						<option value="chinese">中文</option>
						<option value="english">英语</option>
						<option value="french">法语</option>
						<option value="german">德语</option>
					</select>
				</div><br>
				<div class="form-inline">
					<label>出版社：</label>
					<input type="text" name="shop-press" class="form-control">
					<label>作者：</label>
					<input type="text" name="shop-author" class="form-control">
				</div><br>
				<div class="form-inline">
					<label>出版日期：</label>
					<input type="text" name="shop-press-date-year" class="form-control">
					<label>年</label>
					<input type="text" name="shop-press-date-month" class="form-control">
					<label>月</label>
					<input type="text" name="shop-press-date-day" class="form-control">
					<label>日</label>
				</div><br>
				<div class="form-inline">
					<label>印刷次数：</label>
					<input type="text" name="shop-print-number" class="form-control">
					<label>版次：</label>
					<input type="text" name="shop-edition" class="form-control">
					<label>读者对象：</label>
					<select name="shop-reader" class="form-control">
						<option value="0">不选择</option>
						<option value="ertong">儿童</option>
						<option value="qingnian">青年</option>
						<option value="gaoxiao">高校</option>
						<option value="shaonian">少年</option>
						<option value="funv">妇女</option>
						<option value="laoren">老人</option>
						<option value="gongren">工人</option>
						<option value="nongming">农民</option>
						<option value="ganbu">干部</option>
						<option value="zhishifenzi">知识分子</option>
						<option value="junren">军人</option>
					</select>
				</div><br>
				<div class="form-inline">
					<label>印刷日期：</label>
					<input type="text" name="shop-print-number-date-year" class="form-control">
					<label>年</label>
					<input type="text" name="shop-print-number-date-month" class="form-control">
					<label>月</label>
					<input type="text" name="shop-print-number-date-day" class="form-control">
					<label>日</label>
				</div><br>
				<div class="form-inline">
					<label>字数：</label>
					<input type="text" name="shop-word-count" class="form-control">
					<label>页数：</label>
					<input type="text" name="shop-page-count" class="form-control">
					<label>装帧：</label>
					<input type="text" name="shop-binding" class="form-control">
				</div><br>
				<div class="form-inline">
					<label>开本：</label>
					<input type="text" name="shop-format" class="form-control">
					<label>库存：</label>
					<input type="text" name="shop-stock" class="form-control">
					<label>运费：</label>
					<input type="text" name="shop-costs" class="form-control" value="0">
				</div><br>
				<div class="form-group">
					<label>商品详情：</label>
					<div id="shop-details"></div>
				</div>
				<div class="form-group">
					<input type="submit" value="添加商品" class="btn btn-success" id="create-btn">
				</div>
			</form>
		</div>
		<div class="alert alert-warning" style="display: none;"></div>
	</div>
</div>
<script type="text/javascript">
		// 初始化wangEdit
		var E = window.wangEditor
		var editor2 = new E('#shop-details')
		editor2.create()

</script>
</body>
</html>