{include file="../template/admin/base/header.html"}
<!-- 内容区 -->
<div class="container-fluid admin-box">
	{include file="../template/admin/base/sidebar.html"}
	<div class="col-md-10">
		<div class="admin-box-title">出售中的商品</div>
		<div class="alert alert-warning tip-alert"></div>
		<table class="table table-bordered shop-administer" style="text-align: center;">
			<tr>
				<th>商品编号</th>
				<th>标题</th>
				<th>主图</th>
				<th>售价</th>
				<th>库存</th>
				<th>销售量</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
			{volist name="saleArr" id="saleArr"}
			<tr>
				<td>{$saleArr.numbering}</td>
				<td>{$saleArr.title}</td>
				<td><img src="{$saleArr.main_img}"></td>
				<td>{$saleArr.pricing}</td>
				<td>{$saleArr.price}</td>
				<td>{$saleArr.scale}</td>
				<td>
					{if $saleArr.status eq 1}
						<img src="http://{$_SERVER['HTTP_HOST']}/static/img/admin-shop-status-1.png" width="20" height="20">
					{else /}
						<img src="http://{$_SERVER['HTTP_HOST']}/static/img/admin-shop-status-0.png" width="20" height="20">
					{/if}
				</td>
				<td>
					<button class="btn btn-sm btn-success">编辑</button>
					{if $saleArr.status eq 1}
					<button class="btn btn-sm btn-warning" href="{:url('admin/commodity/status',['id'=>$saleArr.good_id])}" onclick="return buttonHref($(this))">下架</button>
					{else /}
					<button class="btn btn-sm btn-warning" href="{:url('admin/commodity/status',['id'=>$saleArr.good_id])}" onclick="return buttonHref($(this))">上架</button>
					{/if}
					<button class="btn btn-sm btn-success" href="{:url('admin/commodity/del',['id'=>$saleArr.good_id])}" onclick="return buttonHref($(this))">删除</button>
					<button class="btn btn-sm btn-default">查看</button>
				</td>
			</tr>
			{/volist}
		</table>
		{$pageination->render()}
	</div>
</div>
</body>
</html>