{include file="../template/index/base/header.html"}
<div class="container" style="margin-top:10px;margin-bottom: 10px;">
	{include file="../template/index/base/user-sidebar.html"}
	<div class="col-md-8">
		<!-- 个人中心 -->
		<div class="index-user-head" style="background:#ddd;" >
			<!-- 头像部分 -->
			<div class="index-user-head-pic">
				{if $userMessage.head_pic eq null}
				<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4127943392,3155017862&fm=27&gp=0.jpg">
				{else /}
					<img src="{$userMessage.head_pic}" height="100" width="100">
				{/if}
			</div>
			<div class="clearfix"></div>
			
		</div>
		<!-- 一些基本信息 -->
			<div class="index-user-head-info">
				<ul>
					<li>余额&nbsp;<b>{$userMessage.points}</b></li>
					<li>收货地址&nbsp;<b>{$userAddress}</b></li>
					<li>我的订单&nbsp;<b>{$countOrder}</b></li>
					<li><a href="{:url('index/login/login_out')}">退出登录</a></li>
				</ul>
			</div>	
	</div>
</div>
{include file="../template/index/base/footer.html"}