{include file="../template/admin/base/header.html"}
<!-- 内容区 -->
<div class="container-fluid admin-box">
	{include file="../template/admin/base/sidebar.html"}
	<div class="col-md-10">
		<div class="admin-box-title">基本信息统计</div>
		<div class="admin-box-index-tongji">
			<ul>
				<li>
				目前共有78个商品
				</li>
				<li>56个商品正在出售中</li>
				<li>79个商品未上架</li>
				<li>60个商品一次都没有卖出去</li>
				<li>共有997878个订单</li>
				<li>987个订单待发货</li>
				<li>234324个订单待确认收货</li>
				<li>898908个订单已经交易完成</li>
				<li>商品分类已经达到78个</li>
				<li>全站共有6769个评价</li>
				<li>其中90个为好评</li>
				<li>全站好评率达到99%</li>
				<li>已经注册了90个用户</li>
				<li>6756个用户至少购买了一次商品</li>
				<li>全站共有9808个管理员正在卖命管理</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>