{include file="../template/admin/base/header.html"}
<!-- 内容区 -->
<div class="container-fluid admin-box">
	{include file="../template/admin/base/sidebar.html"}
	<div class="col-md-10">
		<div class="admin-box-title">基本信息统计</div>
		<div class="admin-box-index-tongji">
			<ul>
				<li>
				目前共有{$goodCount}个商品
				</li>
				<li>{$goodYes}个商品正在出售中</li>
				<li>{$goodNo}个商品未上架</li>
				<li>{$goodNoBuy}个商品一次都没有卖出去</li>
				<li>共有{$orderCount}个订单</li>
				<li>{$orderDelivered}个订单待发货</li>
				<li>{$orderOnWay}个订单正在路上</li>
				<li>{$orderYes}个订单已经交易完成</li>
				<li>商品分类已经达到{$cateCount}个</li>
				<li>全站共有{$commentCount}个评价</li>
				<li>其中{$commentGood}个为好评</li>
				<li>全站好评率达到{$favorableRate}%</li>
				<li>已经注册了{$userCount}个用户</li>
				<li>全站共有{$adminCount}个管理员正在卖命管理</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>