{include file="../template/index/base/header.html"}
<!-- 
	*	大海报
 -->
 <div class="container-fluid index-banner">
 	<ul class="index-banner-box">
 		<li><img src="https://i1.mifile.cn/a4/xmad_15169761220549_oNiXf.jpg"></li>
 		<li><img src="https://i1.mifile.cn/a4/xmad_1517313508995_XRANt.jpg"></li>
 	</ul>
 </div>
 <!-- 
	*	自定义楼层分类
  -->
  <div class="container">
  	<!-- 楼层1 -->
  	<div class="index-floor">
  		<!-- 标题 -->
  		<div class="index-floor-title">
  			楼层1
  			<span class="index-floor-title-right">
  				<a href="#">查看更多>></a>
  			</span>
  		</div>
  		<!-- 列表 -->
  		<div class="index-floor-list">
  			<ul>
  				<li>
  					<a href="#">
  						<div class="index-floor-img">
  							<img src="http://demo.haidao.la/uploadfile/goods/a2/29/e3/0f/59c14da8803ce_thumb_500_500.jpg">
  						</div>
  						<div class="index-floor-list-title">
  							标题
  						</div>
  						<div class="index-floor-list-price">
  							￥100.00
  						</div>
  					</a>
  				</li>
  				<li>
  					<a href="#">
  						<div class="index-floor-img">
  							<img src="http://demo.haidao.la/uploadfile/goods/a2/29/e3/0f/59c14da8803ce_thumb_500_500.jpg">
  						</div>
  						<div class="index-floor-list-title">
  							标题
  						</div>
  						<div class="index-floor-list-price">
  							￥100.00
  						</div>
  					</a>
  				</li>
  				<li>
  					<a href="#">
  						<div class="index-floor-img">
  							<img src="http://demo.haidao.la/uploadfile/goods/a2/29/e3/0f/59c14da8803ce_thumb_500_500.jpg">
  						</div>
  						<div class="index-floor-list-title">
  							标题
  						</div>
  						<div class="index-floor-list-price">
  							￥100.00
  						</div>
  					</a>
  				</li>
  				<li>
  					<a href="#">
  						<div class="index-floor-img">
  							<img src="http://demo.haidao.la/uploadfile/goods/a2/29/e3/0f/59c14da8803ce_thumb_500_500.jpg">
  						</div>
  						<div class="index-floor-list-title">
  							标题
  						</div>
  						<div class="index-floor-list-price">
  							￥100.00
  						</div>
  					</a>
  				</li>
  				<li>
  					<a href="#">
  						<div class="index-floor-img">
  							<img src="http://demo.haidao.la/uploadfile/goods/a2/29/e3/0f/59c14da8803ce_thumb_500_500.jpg">
  						</div>
  						<div class="index-floor-list-title">
  							标题
  						</div>
  						<div class="index-floor-list-price">
  							￥100.00
  						</div>
  					</a>
  				</li>
  			</ul>
  		</div>
  	</div>
  	<div class="clearfix"></div>
  	<!-- 楼层2 -->
  	<div class="index-floor">
  		<!-- 标题 -->
  		<div class="index-floor-title">
  			楼层1
  			<span class="index-floor-title-right">
  				<a href="#">查看更多>></a>
  			</span>
  		</div>
  		<!-- 列表 -->
  		<div class="index-floor-list">
  			<ul>
  				<li>
  					<a href="#">
  						<div class="index-floor-img">
  							<img src="http://demo.haidao.la/uploadfile/goods/a2/29/e3/0f/59c14da8803ce_thumb_500_500.jpg">
  						</div>
  						<div class="index-floor-list-title">
  							标题
  						</div>
  						<div class="index-floor-list-price">
  							￥100.00
  						</div>
  					</a>
  				</li>
  				<li>
  					<a href="#">
  						<div class="index-floor-img">
  							<img src="http://demo.haidao.la/uploadfile/goods/a2/29/e3/0f/59c14da8803ce_thumb_500_500.jpg">
  						</div>
  						<div class="index-floor-list-title">
  							标题
  						</div>
  						<div class="index-floor-list-price">
  							￥100.00
  						</div>
  					</a>
  				</li>
  				<li>
  					<a href="#">
  						<div class="index-floor-img">
  							<img src="http://demo.haidao.la/uploadfile/goods/a2/29/e3/0f/59c14da8803ce_thumb_500_500.jpg">
  						</div>
  						<div class="index-floor-list-title">
  							标题
  						</div>
  						<div class="index-floor-list-price">
  							￥100.00
  						</div>
  					</a>
  				</li>
  				<li>
  					<a href="#">
  						<div class="index-floor-img">
  							<img src="http://demo.haidao.la/uploadfile/goods/a2/29/e3/0f/59c14da8803ce_thumb_500_500.jpg">
  						</div>
  						<div class="index-floor-list-title">
  							标题
  						</div>
  						<div class="index-floor-list-price">
  							￥100.00
  						</div>
  					</a>
  				</li>
  				<li>
  					<a href="#">
  						<div class="index-floor-img">
  							<img src="http://demo.haidao.la/uploadfile/goods/a2/29/e3/0f/59c14da8803ce_thumb_500_500.jpg">
  						</div>
  						<div class="index-floor-list-title">
  							标题
  						</div>
  						<div class="index-floor-list-price">
  							￥100.00
  						</div>
  					</a>
  				</li>
  			</ul>
  		</div>
  	</div>
  	<div class="clearfix"></div>
  	<!-- 友情链接 -->
  	<div class="index-links">
  		<ul>
  			<li>友情链接：</li>
  			<li>任鹏鹏</li>
  		</ul>
  	</div>
  </div>
{include file="../template/index/base/footer.html"}
