{include file="../template/index/base/header.html"}
<!-- 
	*	大海报
 -->
 <div class="container-fluid index-banner">
    <div id="theTarget">
      {volist name="banner" id="banner"}
          <div style="background-image: url({$banner.0})" onclick="window.location.href='{$banner.1}'" style="cursor: pointer;">
          </div>
      {/volist}

</div>    
 </div>
 <!-- 
	*	自定义楼层分类
  -->
  <div class="container">
  	<!-- 楼层1 -->
  	<div class="index-floor">
  		<!-- 标题 -->
  		<div class="index-floor-title">
        最新上架
  			<span class="index-floor-title-right">
  				<a href="#">查看更多>></a>
  			</span>
  		</div>
  		<!-- 列表 -->
  		<div class="index-floor-list">
  			<ul>
          {volist name="newData" id="newData"}
  				<li>
  					<a href="{:url('index/shop/index',['id'=>$newData.good_id])}">
  						<div class="index-floor-img" style="display: inline-block;">
  							<img src="{$newData.main_img}" height="100%" width="100%">
  						</div>
  						<div class="index-floor-list-title">
  							{$newData.title}
  						</div>
  						<div class="index-floor-list-price">
  							￥{$newData.price}
  						</div>
  					</a>
  				</li>
          {/volist}
  			</ul>
  		</div>
  	</div>
    <div class="clearfix"></div>
    <!-- 循环楼层 -->
    {volist name="getData" id="data"}
    <div class="index-floor">
      <!-- 标题 -->
      <div class="index-floor-title">
        {$data.title}
        <span class="index-floor-title-right">
          <a href="{:url('index/lists/index',['id'=>$data.id])}">查看更多>></a>
        </span>
      </div>
      <!-- 列表 -->
      <div class="index-floor-list">
        <ul>
          {volist name="data.data" id="da"|default="没有产品"}
          <li>
            <a href="{:url('index/shop/index',['id'=>$da.good_id])}">
              <div class="index-floor-img" style="display: inline-block;">
                <img src="{$da.main_img}" height="100%" width="100%">
              </div>
              <div class="index-floor-list-title">
                {$da.title}
              </div>
              <div class="index-floor-list-price">
                ￥{$da.price}
              </div>
            </a>
          </li>
          {/volist}
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    {/volist}
  	<!-- 友情链接 -->
  	<div class="index-links">
  		<ul>
  			<li>友情链接：</li>
  			<li>任鹏鹏</li>
  		</ul>
  	</div>
  </div>
{include file="../template/index/base/footer.html"}
