<div class="col-md-3">
		<ul class="list-group" style="padding: 0;margin: 0;">
			<li class="list-group-item active">商品相关</li>
			<li class="list-group-item">
				<a href="{:url('index/user/order')}">
					我的订单
				</a>
			</li>
			<li class="list-group-item">
				<a href="{:url('index/user/retreat')}">
					退货管理
				</a>
			</li>
			<li class="list-group-item">
				<a href="{:url('index/user/transaction')}">
					交易记录
				</a>
			</li>
			<li class="list-group-item">
				<a href="{:url('index/user/cart')}">
					我的购物车
				</a>
			</li>
			<li class="list-group-item">
				<a href="{:url('index/user/favorites')}">
					我的收藏夹
				</a>
			</li>
			<li class="list-group-item">
				<a href="{:url('index/user/balance')}">
					我的余额
				</a>
			</li>
			<li class="list-group-item">
				<a href="{:url('index/user/recharge')}">
					余额充值
				</a>
			</li>
			<li class="list-group-item active">
				个人设置
			</li>
			<li class="list-group-item">
				<a href="{:url('index/user/info')}">
					个人信息
				</a>
			</li>
			<li class="list-group-item">
				<a href="{:url('index/user/address')}">
					收货地址
				</a>
			</li>
			<li class="list-group-item">
				<a href="{:url('index/user/modify')}">
					资料修改
				</a>
			</li>
			<li class="list-group-item">
				<a href="{:url('index/user/pass_modify')}">
					密码修改
				</a>
			</li>
			<li class="list-group-item">
				<a href="{:url('index/login/login_out')}">
					退出登录
				</a>
			</li>
		</ul>
	</div>	