{include file="../template/index/base/header.html"}
<div class="container index-box" >
	{include file="../template/index/base/list-sidebar.html"}
	<div class="col-md-9">
			<div class="list-box-title">
				{$keywords} - 共搜到{$searchCount}个商品
			</div>
			<div class="list-box-list">
				<ul>
					{volist name="searchData" id="shopData"}
						<li>
							<div class="col-md-3">
								<a href="{:url('index/shop/index',['id'=>$shopData.good_id])}" title="{$shopData.title}">
									<div class="list-box-shop-img">
										<img src="{$shopData.main_img}" width="90%" alt="{$shopData.title}">
									</div>
									<div class="list-box-shop-title">
										{$shopData.title}
									</div>
									<div class="list-box-shop-press">
										<span class="price">
											¥{$shopData.price}
										</span>
										<span class="press">
											¥{$shopData.press}
										</span>
									</div>
								</a>
							</div>
						</li>
					{/volist}
				</ul>
				{$pageination->render()}
			</div>
		</div>
</div>
{include file="../template/index/base/footer.html"}
