{include file="../template/admin/base/header.html"}
<!-- 内容区 -->
<div class="container-fluid admin-box">
	{include file="../template/admin/base/sidebar.html"}
	<div class="col-md-10">
		<div class="admin-box-title">管理员信息编辑[ID：
				{$message.admin_id}
		]&nbsp;-&nbsp;
		<span class="btn btn-default" onclick="window.history.go(-1)">取消编辑</span>
		
	</div>
		<div class="alert alert-warning tip-alert"></div>
		<form action="{:url('admin/user/editadmin')}" method="post" onsubmit="return UserEditForm($(this));">
			<table class="table table-bordered">
				<!-- 隐藏 type -->
				<input type="hidden" name="type" value="{$type}">
				<tr>
					<td>
						<label>ID</label>
					</td>
					<td>
						<input type="text" name="id" class="form-control" value="{$message.admin_id}" readonly="不可更改">	
					</td>
				</tr>
				
			</table>
			<input type="submit" class="btn btn-success" value="提交">
		</form>
	</div>
</div>
</body>
</html>