{include file="../template/admin/base/header.html"}
<!-- 内容区 -->
<div class="container-fluid admin-box">
	{include file="../template/admin/base/sidebar.html"}
	<div class="col-md-10">
		<div class="admin-box-title">用户信息编辑[ID：
				{$message.user_id}
		]&nbsp;-&nbsp;
		<span class="btn btn-default" onclick="window.history.go(-1)">取消编辑</span>
		
	</div>
		<div class="alert alert-warning tip-alert"></div>
		<form action="{:url('admin/user/editadmin')}" method="post" onsubmit="return UserEditForm($(this));">
			<table class="table table-bordered">
				<!-- 隐藏 type -->
				<input type="hidden" name="type" value="{$type}">
				<tr>
					<td>
						<label>ID</label>
					</td>
					<td>
						<input type="text" name="id" class="form-control" value="{$message.user_id}" readonly="不可更改">	
					</td>
				</tr>
				<tr>
					<td>
						<label>头像地址</label>
					</td>
					<td>
						<input type="text" name="head-pic" class="form-control" value="{$message.head_pic}">
					</td>
				</tr>
				<tr>
					<td>
						<label>用户名</label>	
					</td>
					<td>
						<input type="text" name="username" class="form-control" value="{$message.username}">
					</td>
				</tr>
				<tr>
					<td>
						<label>昵称</label>
					</td>
					<td>
						<input type="text" name="bbsname" class="form-control" value="{$message.bbsname}">
					</td>
				</tr>
				<tr>
					<td>
						<label>密码</label>
					</td>
					<td>
						<input type="text" name="password" class="form-control" placeholder="留空则不修改">
					</td>
				</tr>
				<tr>
					<td>
						<label>邮箱</label>
					</td>
					<td>
						<input type="text" name="email" class="form-control" value="{$message.email}">
					</td>
				</tr>
				<tr>
					<td>
						<label>手机</label>
					</td>
					<td>
						<input type="text" name="phone" class="form-control" value="{$message.phone}">
					</td>
				</tr>
				<tr>
					<td>
						<label>性别</label>
					</td>
					<td>
						<select name="sex" class="form-control">
							<option value="">不修改</option>
							<option value="0">保密</option>
							<option value="1">男</option>
							<option value="2">女</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>生日</label>
					</td>
					<td>
						<div class="form-inline">
							<input type="number" name="birthday-year" class="form-control">
							<label>年</label>
							<input type="number" name="birthday-month" class="form-control">
							<label>月</label>
							<input type="number" name="birthday-day" class="form-control">
							<label>日</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>余额</label>
					</td>
					<td>
						<input type="number" name="points" class="form-control" value="{$message.points}">
					</td>
				</tr>
				<tr>
					<td>
						<label>累计消费</label>
					</td>
					<td>
						<input type="number" name="pay_points" class="form-control" value="{$message.pay_points}">
					</td>
				</tr>
				<tr>
					<td>
						<label>用户地址</label>
					</td>
					<td>
						<div class="form-inline">
							<input type="text" name="province" class="form-control" value="{$message.province}">
							<label>省</label>
							<input type="text" name="city" class="form-control" value="{$message.city}">
							<label>市</label>
							<input type="text" name="dustrict" class="form-control" value="{$message.dustrict}">
							<label>县</label>
							<input type="text" name="address" class="form-control" value="{$message.address}">
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>用户状态</label>
					</td>
					<td>
						<select class="form-control" name="status">
							<option value="">不更改</option>
							<option value="0">锁定</option>
							<option value="1">正常</option>
						</select>
					</td>
				</tr>
			</table>
			<input type="submit" class="btn btn-success" value="提交">
		</form>
	</div>
</div>
</body>
</html>